.container{
    padding:10px;
    margin:15px;
    width:40%;
    background-color: rgb(240, 236, 236);
    display:flex;
    flex-direction: column;
    border-radius: 2%;
    box-shadow: 0 0 15px 0;
    align-items:center;
    position: absolute;
}

.elemento{
    padding:10px;
    width:100%;
    height:100%;
    text-align:center;
}

.countryInfo{
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

p{
    color:black;
    text-decoration: none;
}

.countryImage{
    max-width: 100%;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
}

@media (max-width:920px){
    .countryCard{
        padding: 2%;
        flex: 1 21%;
        }
}

@media (max-width:600px){
    .countryCard{
        padding: 2%;
        flex: 1 46%;
        }
}



.elemento button{ 
    font-family: Koulen; 
    font-weight: 0;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    padding: 5px 50px;
    border: solid #000000 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 1px;
    transition : 1000ms;
    transform: translateY(0);
    text-transform: uppercase;
} 
    
.elemento button:hover{ 
    transition : 1000ms; 
    padding: 10px 44px; 
    transform : translateY(-0px);
    background-color: #000000;
    color: #ffffff;
    border: solid 2px #ffffff;
} 
    

