.countryCard{
    padding: 2%;
    flex: 1 16%;
}

.countryInfo{
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

a{
    color:black;
    text-decoration: none;
}

.countryImage{
    max-width: 100%;
}

@media (max-width:920px){
    .countryCard{
        padding: 2%;
        flex: 1 21%;
        }
}

@media (max-width:600px){
    .countryCard{
        padding: 2%;
        flex: 1 46%;
        }
}