.container{
    padding:5px;
    margin: 5px;
    display:flex;
    flex-flow: column;
    align-items:center;
    position:unset;
}
.countries{
    display:flex;
    flex-flow: wrap;
}

.countriesFilter{
    display: flex;
    align-items:center;
    padding: 5px;
}

.countriesFilter h1{
    flex-grow:1;
}

.sort{
    display: flex;
}

.countriesSort{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

@media (max-width: 480px){
    .countriesFilter{
        flex-direction:column;
    }
    .sort {
        align-self: flex-start;
    }
}