.container{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    border-width: 15px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        #31b3b3, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
    background-color: #272929;
    margin:5px;
    padding:5px;
}

.container h1{
    color: #31b3b3;
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
    font-weight: 900;
}
.countries{
    width: 100%;
    display:flex;
    flex-flow: wrap;
    justify-content: center;

}

.countriesFilter{
    display: flex;
    align-items:center;
    margin: 5px;
}

.countriesFilter h1{
    flex-grow:1;
}

.sort{
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    align-content: center;
    border: 5px solid  #373838; 
    background-color: #272929;
    margin: 5px;
}

.sort h2{
    color: #31b3b3;
    font-size: 16px;
    align-items: center;
}


.sort label{
    color: #ffffff;
    font-size: 14px;
}

.sort p{
    color: #31b3b3;
    font-size: 14px;
}



.filter{
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    align-content: center;
    border: 5px solid  #373838; 
    background-color: #272929;
}

.filter h2{
    color: #31b3b3;
    font-size: 16px;
    align-items: center;
}

.filter label{
    color: #ffffff;
    font-size: 14px;
}

.filter p{
    color: #31b3b3;
    font-size: 14px;
}



.search{
    display: flex;
    padding: 10px;
    margin: 5px;
    border: 5px solid  #373838; 
    background-color: #272929;
}

.search label{
    color: #ffffff;
    font-size: 14px;
}

.countriesSort{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    padding: 5px;
    margin: 5px;
    gap: 5px;
}


.countriesSort label{
        width: 120px;
    }

.countriesSort select{
        width: 120px;
    }

.button{ 
    color: #fff; 
    background: #474949; 
    border: 3px solid #b8bebe; 
    min-height: 8px; 
    padding: 4px 8px; 
    border-radius: 2px; 
    font-weight: 600; 
    font-family: plex-sans,sans-serif; 
    font-size: 12px; 
    line-height: 14px; 
    margin: 0; 
    box-sizing: border-box; 
    cursor: pointer; 
    width:70px;
    } 
    
.button:hover{ 
    background-color: #05b3a5; 
    border: 3px solid #05e4d2; 
    box-sizing:border-box; 
} 
    


@media (max-width: 480px){
    .countriesFilter{
        flex-direction:column;
    }
    .sort {
        align-self: flex-start;
    }
}